<div class="row">
    Test content will go here
    <pre>{{test|json}}</pre>

    <h3>Header typeahead tests</h3>

    <!--<pre>Model: {{requestChosen | json}}</pre>-->
    <!--<input type="text" placeholder="Start typing request header" ng-model="requestChosen" typeahead="headerObj as headerObj.header for headerObj in requestHeaders | filter:{header:$viewValue} | limitTo:8" class="form-control">-->
    <!--<pre>Model: {{responseChosen | json}}</pre>-->
    <!--<input type="text" placeholder="Start typing response header" ng-model="responseChosen" typeahead="headerObj as headerObj.header for headerObj in responseHeaders | filter:{header:$viewValue} | limitTo:8" class="form-control">-->
    <ng-form name="testForm">
        <!--<pre>Request Chosen: {{requestChosen|json}}</pre>-->
        <!--<header-input type="request" placeholder="Start typing request header" ng-model="requestChosen"></header-input>-->

        <pre>Response Chosen: {{responseChosen|json}}</pre>
        <pre>
            Response Valid: {{testForm.headerRequest.$valid|json}}
        </pre>
        <pre>Response errors: {{testForm.headerRequest.$error|json}}</pre>
        <header-input type="response" placeholder="Start typing response header" ng-model="responseChosen" name="headerRequest"></header-input>
    </ng-form>
    <pre>{{testForm|json}}</pre>
    <pre>{{testForm.$dirty|json}}</pre>
    <pre>{{testForm.$error|json}}</pre>
    <!--<header-input type="response" placeholder="Start typing response header" ng-model="responseChosen" name="headerRequest"></header-input>-->
</div>