<div class="container">

    <h1>Projects <small>Each distinct project you are testing</small></h1>

    <button ng-if="!addFormVisible" class="btn btn-primary" ng-click="showAddForm(true)">Add Project</button>

    <div class="alert alert-info alert-dismissable" ng-show="addFormVisible">
        <button type="button" class="close" aria-hidden="true" ng-click="showAddForm(false)">&times;</button>
        <h2>Add new project</h2>
        <ng-form name="addProjectForm" role="form" class="form-horizontal">

            <div class="form-group">
                <label for="projectName" class="col-sm-2 control-label">Project Name</label>
                <div class="col-sm-8">
                    <input type="text" ng-model="newProject.name" class="form-control" id="projectName" name="projectName" placeholder="Enter project name" required>
                </div>
                <div class="col-sm-2 validation" ng-show="addProjectForm.projectName.$invalid && addProjectForm.projectName.$dirty">* Required</div>
            </div>

            <div class="form-group">
                <label for="projectKey" class="col-sm-2 control-label">Project Key</label>
                <div class="col-sm-8">
                    <input disabled type="text" ng-model="newProject.key" class="form-control" id="projectKey" name="projectKey" placeholder="Project key is determined by project name">
                </div>
                <div class="col-sm-2 validation" ng-show="addProjectForm.projectKey.$invalid">Project key already exists</div>
            </div>

            <button ng-disabled="!addProjectForm.$dirty && addProjectForm.$invalid" class="btn btn-primary" ng-click="addProject(newProject)">Submit</button>

        </ng-form>
        <pre>{{newProject|json}}</pre>
        <pre>{{addProjectForm|json}}</pre>
    </div>

    <pre>{{$storage.restLab.projects|json}}</pre>


</div>